/* CSS BY  */
/* IMPORTED FONTS */
/* CSS REST */
/* ROOT VARIABLES */
/*  GLOBAL STYLES*/
@media (max-width: 575.98px) {
  
}

/* MEDIA QUERY (medium) */
@media (min-width: 992px) {
  
}

/* MEDIA QUERY (large) */
@media (min-width: 1200px) {
  
}

/* MEDIA QUERY (xl) */
@media (min-width: 1400px) {
  
}